*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.json
.keystore
.idea/*.xml
.idea/deploymentTargetDropDown.xml
.idea/shelf/
.idea/misc.xml
.idea/vcs.xml
.idea/modules/
.idea/compiler.xml
.idea/kotlinc.xml
.idea/gradle.xml
.Trashes
*.tmp
gradle-app.setting
!gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
*.kotlin_module
/lint-report.html
/reports/
/output.json
google-services.json
firebase-*.json
*.apk.ids
*.log
*.hprof
*.jks
.idea/